{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block content %}
    {% if messages %}
        <div class="messages row">
            <section class="messages col col-lg-12">
                <h3>{{ messages }}</h3>
            </section>
        </div>
    {% endif %}
    <div class="content row">
        <section class="main col col-lg-8">
            {% if featured_content %}
                {% include "includes/carousel.html" %}
            {% endif %}
            {% include "content/content_home_listing.html" %}
        </section>
        <section class="sidebar col col-lg-4">
            {% include "widgets/search_form.html" %}
            {% ifinstalled mezzanine.twitter %}
                {% include "widgets/twitter.html" %}
            {% endifinstalled %}
            {% include "widgets/newsletters.html" %}
        </section>

    </div>
{% endblock %}