{% load staticfiles %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for item in featured_content %}
            {% if forloop.counter0 == 0 %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" data-interval="20000">
        {% for item in featured_content %}
            {% if forloop.counter0 == 0 %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
        <img class="carousel-image" src="{{ MEDIA_URL }}{{ item.featured_piece_slide_image }}"
             alt="Oil Spill 1">
        <div class="carousel-caption">
            <p><a href="{% url "content_detail" item.slug %}">{{ item.title }}</a></p>
        </div>
        </div>
        {% endfor %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>