/* Main css file for Oilwatch theme. This is where all css overrides for the theme will be placed */

.navbar {
    min-height: 100px;
}

.logo{
    background-image: url("../images/owalogo.png");
    width: 200px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;

}

.owa-nav{
    margin-top: 30px;
}

#content-wrapper{
    margin-top: 60px;
}

footer {
    background-color: #232323;
    color: #fff;
    border-top: 1px solid #e7e7e7;
    margin-top: 15px;
    padding: 15px 0 30px;
}

footer a{
    color: #FFFFFF;
}